
h11 {
  color: red;
  font-size: 3em;
  text-decoration: underline;
}

h22 {
  color: red;
  font-size: 2em;
}

items{
  display:block;
  width:9em;
  border:1px solid #808;
  font-family:arial, verdana, sans-serif; /* ADDED */
  font-size:0.8em; /* ADDED */
  text-align:center; /* ADDED */
  text-decoration:none; /* ADDED */
}
